.Portfolio {
    background-image: linear-gradient(to right , rgb(129, 112, 44),rgba(207, 206, 206, 0.831));
    height: 400.5vh;
    user-select: none;


}

.text-effect {
    overflow: hidden;
    margin: 0;
    font-size: 3vh;
    font-weight: bolder;
    color: black;
    font-family: Fantasy;
    text-shadow: 6px 6px 1px white(0, 0, 0, 0.1);
    margin-top: 5vh;
    text-align: center;
}



#cards {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vh;
}