.About {
    background-image: linear-gradient(to right,
            rgb(129, 112, 44),
            rgba(207, 206, 206, 0.831));
    height: auto;
    user-select: none;
    display: flex;
    justify-content: center;
}

.blur{
    width: 30rem;
}
.content {
    text-align: center;
    font-family: Fantasy;
    font-size: 2rem;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content>img {
    border-radius: 50%;
    /* width: 30rem; */
    max-width: 100%;
}

.fade-in {
    opacity: 0;
    animation: fade-in 3s forwards;
}

.fade-in2 {
    opacity: 0;
    animation: fade-in 4s forwards;
}

.fade-in3 {
    opacity: 0;
    animation: fade-in 5s forwards;
}

.fade-in4 {
    opacity: 0;
    animation: fade-in 6s forwards;
}

.fade-in5 {
    opacity: 0;
    animation: fade-in 3s forwards;
}

.fade-in6 {
    opacity: 0;
    animation: fade-in 8s forwards;
}

.fade-in7 {
    opacity: 0;
    animation: fade-in 9s forwards;
}
#idfImg{
    width: 30rem;
}

.fade-in8 {
    opacity: 0;
    animation: fade-in 10s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.text-effect {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(20) forwards;
}

.blur {
    animation: blur 3s ease-in-out forwards;
    filter: blur(10px);
}

@keyframes blur {
    0% {
        filter: blur(10px);
    }

    100% {
        filter: blur(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


@keyframes zoom-in {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

#educationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#educationContainer>div {
    width: 45%;
    margin-top: 3rem;
}

#educationContainer>div>img {
    width: 10rem;
    max-width: 100%;
    border-radius: 50%;
}

#educationContainer>div>h4 {
    font-size: 3rem;
}

#educationContainer>div>h2 {
    font-size: 4rem;
}

#educationContainer>div>span {
    font-size: 3rem;
}

#educationContainer>div>p {
    font-size: 3rem;

    line-height: 1.5;
}

#scrollImageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#scrollImageContainer>img {
    width: 12rem;
    max-width: 100%;
    border-radius: 50%;
}

#contact {
    user-select: text;
}

#contact>h1 {
    font-size: 5rem;
}

#contact>h3 {
    font-size: 3rem;
}

#contact>span {
    font-size: 2rem;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .content {
        font-size: 2.5rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .blur{
        width: 10rem;
    }
    #contact>span {
        font-size: 1.5rem;
    }

    .text-effect {
        font-size: 1.5rem;
    }



    #educationContainer>div {
        width: 100%;
        margin-top: 3rem;
    }

    #educationContainer>div>img {
        width: 60%;
    }

    #educationContainer>div>h4 {
        font-size: 2.5rem;
    }

    #educationContainer>div>h2 {
        font-size: 2.5rem;
    }

    #educationContainer>div>span {
        font-size: 2.5rem;
    }

    #educationContainer>div>p {
        font-size: 2rem;
    }

    .content>h1 {
        font-size: 2rem;

    }

    #educationContainer {
        flex-direction: column;
        align-items: center;
    }

}


@media only screen and (min-width: 769px) {

    /* Styles for screens larger than 768px */
    #educationContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #educationContainer>div {
        width: 48%;
    }

    #educationContainer>div>img {
        width: 25rem;
        height: auto;
    }

    #educationContainer>div>div {
        padding: 1rem;
    }

    #educationContainer>div>h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    #educationContainer>div>p {
        line-height: 1.5;
    }
}