.Card {
    border: solid 4px black;
    width: 100%;
    height: 100vh;
    padding: 30px;
}

#cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#titleCard {
    font-size: 3vh;
    font-weight: bolder;
    color: black;
    font-family: Fantasy;
    text-shadow: 6px 6px 1px white(0, 0, 0, 0.1);
}


#titleCard>h1 {
    margin: 0;
}

#photoCard>img {
    width: 57vh;

}

#info>p {
    font-size: 3vh;
    width: 80vh;
    font-family: Fantasy;
    text-align: center;
}

#mainCardContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#skils {
    font-family: Fantasy;
    font-size: 4vh;

}

#links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4vh
}

#photoCard {
    position: relative;
    width: 50vh; 
    height: 50vh; 
    margin-left:10vh;
  }
  
  .pc {
    display: block;
  }
  
  .phone {
    display: none;
  }
  
  #photoCard:hover .pc {
    display: none;
  }
  
  #photoCard:hover .phone {
    display: block;
  }