.Card {
    border: solid 4px black;
}

#cardContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#titleCard {
    font-size: 3rem;
    font-weight: bolder;
    color: black;
    font-family: Fantasy;
    text-shadow: 6px 6px 1px white(0, 0, 0, 0.1);
}


#titleCard>h1 {
    margin: 0;
}

#photoCard>img {
    width: 100%;

}

#info>p {
    font-size: 3rem;
    /* width: 80rem; */
    font-family: Fantasy;
    text-align: center;
}

#mainCardContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}

#skils {
    font-family: Fantasy;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

#photoCard {
    position: relative;
    /* margin-left: 10rem; */
}

.pc {
    display: block;
    /* max-width: 30%; */
}

.phone {
    display: none;
}

#photoCard:hover .pc {
    display: none;
}

#photoCard:hover .phone {
    display: block;
}

@media screen and (max-width: 768px) {
    #cardContainer {
        display: flex;
        flex-direction: column;
    }
    #info>p{
        font-size: 2rem;
    }
    #photoCard:hover .phone {
        display: none;
        width: 10%;
    }
}