body {
  margin: 0;
 
  /* overflow: hidden; */
  /* color: white !important;  */
  background-image: linear-gradient(
    to right,
    #81702c,
    rgba(207, 206, 206, 0.831)
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
